article {
	background-color: var(--bg-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 1rem;
	border-radius: 10px;
	height: 130px;
	/* width: 130px; */
	box-shadow: var(--shadow-sm);
}

article p {
	font-size: 0.9rem;
	color: var(--text-accent);
}

article footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 1rem;
}

.get {
	padding: 0.7rem 1.5rem;
	background: linear-gradient(
		135deg,
		var(--accent-gradient-from),
		var(--accent-gradient-to)
	);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.delete {
	padding: 0.7rem 1.5rem;
	background: rgb(245, 66, 66);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
