body {
	/* background-color: var(--bg-primary); */
	background-image: url("https://www.metalzone.fr/wp-content/uploads/2021/07/albums-rock-2021.jpg");
	background-size: cover;
	background-position: center;
	color: var(--text-primary);
}

main {
	background-color: rgba(245, 245, 245, 0.463);
	height: 100vh;
	overflow-y: auto;
	backdrop-filter: var(--blur-glass);
}

/* .add-album-btn {
	padding: 12px 24px;
	background: linear-gradient(135deg, #6366f1, #8b5cf6);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s;
}

.add-album-btn:hover {
	transform: translateY(-2px);
	box-shadow: 0 4px 12px rgba(99, 102, 241, 0.4);
} */
